@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    font-size: 55px;
    text-align: center;
    color: white;
    background-color: darkblue;
}

h3 {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.color-box {
    text-align: center;
    width: 50%;
    height: 250px;
    margin: 20px auto;
}

.display-value {
    text-align: center;
    font-size: 35px;
    margin: 5px auto;
}

.range-box {
    text-align: center;
    margin: 30px;
}

.slider-box {
    width: 50%;
    margin: 5px auto;
}

.range-slider {
    width: 300px;
    margin: 10px 10px;
    height: 25px;
}

label, .color-output {
    text-align: center;
    font-size: 30px;
    margin: 0px 20px;
}

#bttnRandom {
    font-size: 30px;
    padding: 5px 10px;
    border: none;
    background-color: darkblue;
    color: white;
}

#bttnRandom:hover {
    background-color: blue;
    transition: 0.4s ease;
}