@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

header {
    text-align: center;
    font-size: 45px;
    background-color: blueviolet;
    color: white;
}

canvas {
    margin: 20px 50px;
    background-color: darkslategrey;
}

.score {
    margin: 0px 50px;
    font-size: 40px;
}

#display {
    font-size: 30px;
    margin: 10px 100px;
}