* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,monospace;
}

html { font-size: 10px; }

body {
    display: flex;
    height: 100vh;
    color: rgb(255,255,255);
}

/* Display and show box styles*/

div.displaybox,
div.displaybox div.card,
div.showbox,
div.showbox div.controlbox,
div.controlbox div.detailsbox,
div.controlbox div.inputbox,
div.controlbox div.buttonbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
}

div.displaybox {
    width: 70%;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

div.showbox {
    align-items: center;
    width: 30%;
    background-color: rgb(51, 51, 51);
}

/* Show box styles */

div.showbox h1.heading {
    font-size: 3.5rem;
    margin: 0 0 2rem 0;
}

div.showbox p.description {
    font-size: 2rem;
    margin: 0 0 2rem 0;
}

/* Control box styles */

div.showbox div.controlbox {
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Details, input and button box styles */

div.controlbox div.detailsbox,
div.controlbox div.inputbox,
div.controlbox div.buttonbox {
    justify-content: center;
    width: 100%;
    margin: 0 0 1rem 0;
    border-radius: 1rem;
    background-color: rgb(71, 71, 71);
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.8);
}

div.detailsbox label,
div.detailsbox input,
div.inputbox label,
div.inputbox input {
    font-size: 2rem;
    margin: 0.5rem 0;
    border: none;
    outline: none;
}

div.detailsbox label,
div.inputbox label { font-weight: bold; }

div.detailsbox input:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 71, 71);
}

/* Button styles */

div.buttonbox button.button {
    height: 4.5rem;
    margin: 1rem 0;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 1rem;
}

div.buttonbox button.button:not([disabled]) {
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 180);
}

div.buttonbox button.button:hover:not([disabled]) { background-color: rgb(57, 57, 216); }

/* Card styles */

div.displaybox div.card {
    justify-content: center;
    width: 100%;
    height: 20rem;
    min-height: 20rem;
    padding: 0;
    margin: 0 0 2rem 0;
    font-size: 2rem;
    border-radius: 1rem;
    /* background-color: rgb(255, 255, 255); */
}

/* Card top and bottom div styles */

div.card div.top,
div.card div.bottom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

div.card div.top {
    flex: 2;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: rgb(245, 245, 245);
}

div.card div.bottom {
    flex: 1;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgb(200, 200, 200);
}

div.top p.number {
    font-size: 4rem;
    color: rgb(0, 0, 0);
}

div.bottom p.datetime {
    font-size: 2rem;
    font-style: italic;
    color: rgb(92, 92, 92);
}

/* Card button styles */

div.top button.removecard,
div.bottom button.copycard {
    position: absolute;
    height: 3.5rem;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 45, 180);
}

div.top button.removecard {
    top: 1rem;
    right: 1rem;
    width: 3.5rem;
    font-size: 2.5rem;
    border-radius: 50%;
}

div.bottom button.copycard {
    top: 2rem;
    right: 1rem;
    width: 12rem;
    font-size: 2rem;
    border-radius: 2rem;
}

div.top button.removecard:hover,
div.bottom button.copycard:hover { background-color: rgb(57, 57, 216); }