* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  height: 5px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(231, 227, 227);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 10vh;
    margin: 10vh 25% 0 25%;
}

header h1 {
    color: rgb(65, 62, 62);
    font-size: 50px;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 70vh;
    margin: 0 25% 0 25%;
    padding: 5px;
}

.list-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.list-input input[type='text'] {
    font-size: 30px;
    width: 70%;
    height: 75%;
    margin-right: 20px;
    border: none;
    padding: 2px 10px;
    background-color: rgb(240, 232, 232);
    transition: background-color 0.3s ease;
}

.list-input input[type='text']:hover {
    background-color: white;
}

.list-input input[type='text']:focus {
    outline: none;
    background-color: white;
}

.list-input input[type='button'] {
    font-size: 30px;
    width: 20%;
    height: 75%;
    border: none;
    color: white;
    cursor: pointer;
    background-color: gray;
    transition: background-color 0.3s ease;
}

.list-input input[type='button']:hover,
.list-input input[type='button']:focus {
    outline: none;
    background-color: rgb(160, 154, 154);
}

.list-show {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
    overflow-y: auto;
}

.list-show .task {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 95%;
    margin: 2px 10px;
    padding: 10px 10px;
    transition: box-shadow 0.3s ease, height 0.3s ease;
}

.list-show .task:hover {
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
    height: 55px;
}

.task:hover .task-name {
    overflow-x: scroll;
}

.task .task-name {
    font-size: 25px;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.task:hover .task-name {
    text-overflow: clip;
    overflow-x: auto;
}

.notdone-task,
.done-task,
.update-task,
.delete-task {
    font-size: 16px;
    font-weight: bold;
    margin: 0px 2px;
    height: 50px;
    width: 90px;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notdone-task { background-color: darkblue; }
.done-task { background-color: green; }
.update-task { background-color: lightskyblue; }
.delete-task { background-color: red; }

.notdone-task:hover,
.notdone-task:focus {
    outline: none;
    background-color: rgb(33, 33, 187);
}
.done-task:hover,
.done-task:focus {
    outline: none;
    background-color: rgb(25, 170, 25);
}
.update-task:hover,
.update-task:focus {
    outline: none;
    background-color: rgb(91, 185, 243);
}
.delete-task:hover,
.delete-task:focus {
    outline: none;
    background-color: rgb(151, 3, 3);
}

.list-clear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.list-clear input[type='button'] {
    font-size: 30px;
    width: 50%;
    height: 75%;
    border: none;
    color: white;
    background-color: slategray;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-clear input[type='button']:hover,
.list-clear input[type='button']:focus {
    outline: none;
    background-color: rgb(86, 103, 121);
}

/* Animations */

.slide {
    transform: translateY(20rem);
    opacity: 0.5;
}